wheel
# pip
--extra-index-url https://download.pytorch.org/whl/cu113
torch
torchvision
torchaudio
numpy
matplotlib
scikit-learn
scikit-learn-intelex
scikit-learn-extra
laspy
# faiss-cpu
tqdm
open3d
pptk
pyclustering
pandas
